:root {
  --bg-dark: #001219;
  --color-primary: #0079fa;
  --color-dark: #626262;
  --color-darker: #464646;
  --color-light: #dbd8d6;
  --color-lighter: #f5f0ec;
  --text-dark: #2b2b2b;
  --text-darker: #020202;
}

.tiktok-title {
  color: var(--color-primary);
  font-size: 1.8rem;
}

.tiktok-description {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.7;
  color: var(--color-darker);
  margin: 1rem 0;
}

.instagram-phone-tiktok {
  width: 100%;
}
