@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&display=swap");

:root {
  --bg-dark: #001219;
  --color-primary: #0079fa;
  --color-dark: #626262;
  --color-darker: #464646;
  --color-light: #dbd8d6;
  --color-lighter: #f5f0ec;
  --text-dark: #2b2b2b;
  --text-darker: #020202;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 1px;
  background-color: var(--color-lighter);
  color: var(--color-darker);
  overflow-y: hidden;
}

.wrapper {
  margin: 0 5vw;
}

section {
  padding: 8vh 0;
}

.section-title {
  display: flex;
    flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding-top: 3rem;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  line-height: 6rem;
  text-transform: lowercase;
  padding-bottom: 2rem;
  color: var(--color-primary);
}

.section-subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-top: -2rem;
  padding-bottom: 2rem;
  color: var(--color-dark);
}
.navbar {
  position: absolute;
  width: -webkit-fill-available;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
  font-family: "Syncopate", sans-serif;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.home-link {
  color: var(--text-darker);
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 1;

  h2 {
    font-size: 2rem;
    font-weight: 400;

    &:hover {
      font-weight: 600;
      transition: 0.3s;
    }
  }
}

.links {
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: 0;
  line-height: 1;
  padding-bottom: 12rem;
}

.links a {
  color: var(--text-dark);
}

.scaleup:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.links a:hover {
  color: var(--color-lighter);
  font-weight: 900;
  transition: 0.2s;
}

.links a::before {
  content: "";
  width: 0%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  transition: 0.4s;
}

.links a:hover::before {
  width: 110%;
  z-index: -1;
}

.hero {
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  font-size: 8vw;
  line-height: 0.8;
  color: var(--text-dark);
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.title {
  position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  text-transform: lowercase;
  text-align: center;
  width: 100%;
  font-size: 1.4em;
  font-weight: 700;
  color: var(--color-primary);
}

.ethereal {
  z-index: 2;
}

.trademark {
  font-size: 0.5em;
}

.ethereal,
.andperator,
.trademark,
.canvas {
  position: relative;
  display: inline;
}

.ethereal span,
.andperator span,
.trademark span,
.canvas span {
  position: absolute;
  top: -23%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--color-lighter);
}

.ethereal span {
  z-index: 2;
}

.loony-toons {
  margin-right: 0.5em;
  width: auto;
  height: 60px;
}
.connect-links {
  display: flex;
  text-transform: lowercase;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  line-height: 1;

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }


  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  a,
  .connect-linkedin {
    display: flex;
    height: fit-content;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    transition: 0.3s;
  }

  .connect-linkedin {
    width: fit-content;
    position: relative;

    a:hover {
      color: black;
      font-weight: 500;
      transition: 0.2s;
    }

    a::before {
      content: "";
      width: 0%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-primary);
      transition: 0.4s;
    }

    a:hover::before {
      width: 110%;
      z-index: -1;
    }
  }
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
  gap: 10rem;
}

.contact-wrapper span {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}

.contact-wrapper img {
  width: 100%;
  display: block;
}

.contact-left {
  display: grid;
  gap: 1rem;
  position: relative;
}

.left-shutter {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lighter);
}

.contact-right {
  display: grid;
  gap: 1rem;
  position: relative;
}

.right-shutter {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lighter);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-darker);
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
    max-width: 1000px;
    letter-spacing: 0px;
    font-weight: 550;
  }
  
  .about-sub {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
    color: var(--text-darker);
  }
  
  .persons {
    padding: 2vw 0;
    max-width: 1000px;
  }
  
  .person {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-bottom: 4rem;
    letter-spacing: 0px;
  }
  
  .person img {
    object-fit: cover;
    border-radius: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    height: 400px;
  }
  
  
  .person h3 {
    font-size: 2.0rem;
    margin-top: 1rem;
  }
  
  .info-person {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .info-person .description {
    white-space: pre-line;
    font-weight: 500;
    font-size: 0.8rem;
    margin: -1rem 0;

    b {
      margin-left: 0.5rem;
      font-size: 0.83rem;
    }
  }
  
  .info-person .role {
    text-transform: lowercase;
    font-size: 1.4rem;
    margin-top: -1rem;
    font-weight: 500;
    color: var(--color-primary);
}

.info-person .social {
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}


.info-person .social a {
  text-decoration: none;
  color: var(--text-darker);
  font-weight: 400;
  transition: 0.2s all;
}

.info-person .social a:hover {
  color: var(--color-primary);
  font-weight: 600;
}

.work-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10vw;
  padding: 10vw;
  background-color: var(--bg-dark);
}

.work-item {
  position: relative;
  width: 50%;
}

.work-item-title {
  position: absolute;
  top: 10%;
  left: -50%;
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  color: var(--color-lighter);
  font-size: 8vw;
  line-height: 1.2;
  mix-blend-mode: color-dodge;
  z-index: 1;
}

.work-item-category {
  position: absolute;
  bottom: -5%;
  left: 0;
  text-transform: uppercase;
  color: var(--color-lighter);
  letter-spacing: 10px;
  z-index: 1;
}

.work-item-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.extended-work-wrapper {
  margin: 0 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40svh;
  gap: 1rem;
}

.extended-work-item {
  text-align: center;
}

.extended-work-item img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.not-found {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
  column-gap: 5vw;
  row-gap: 1vw;
  padding: 5vw 0;
}

.headline-1,
.headline-2 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 8vw;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
}

.img-1,
.img-2 {
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.img-1 img,
.img-2 img {
  display: block;
  width: 100%;
}

.img-2 {
  justify-self: self-end;
}

.footer {
  padding: 1vw 0;
  text-align: right;
}

.footer h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 5vw;
  line-height: 1;
  letter-spacing: -0.05em;
  color: var(--color-primary);
  z-index: -1;
}

.footer h1 span {
  font-style: italic;
  font-weight: 300;
}

.footer p {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0px;
  /* margin-left: 15vw; */
  margin-top: -1vw;
  margin-bottom: 1vw;
  color: var(--color-darker);
}

.others {
  background-color: black;
  margin: 3rem -5vw -6vw;
}

.others-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 5vw;
}

.others-title {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-lighter);
}

.other-gallery-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.other-gallery-item {
  width: auto;
  height: 100%;
  margin: 0 0.5rem;
}

[data-pc-section="indicators"] {
  margin-top: 1rem;

  li {
    background-color: black;
    margin: 0 2px;

    button {
      border-radius: 13px;
    }
  }

  [data-p-highlight="false"] {
    button {
      background-color: #f5f0ec3f;
    }
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .wrapper {
    margin: 0 2.5vw;
  }

  section {
    padding: 5vw 0;
  }

  .navbar {
    padding: 1rem 0;
    flex-direction: column;
  }

  .logo {
    order: -1;
  }

  .contact-wrapper {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}