@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&display=swap");

:root {
  --bg-dark: #001219;
  --color-primary: #0079fa;
  --color-dark: #626262;
  --color-darker: #464646;
  --color-light: #dbd8d6;
  --color-lighter: #f5f0ec;
  --text-dark: #2b2b2b;
  --text-darker: #020202;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 1px;
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

.wrapper {
  margin: 0 5vw;
}

section {
  padding: 8vw 0;
}

.min-h-100vh {
  min-height: 100vh;
}

.section-title {
  font-family: "Syncopate", sans-serif;
  font-size: 1.5rem;
  text-transform: lowercase;
  padding-bottom: 5vw;
  color: var(--color-primary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
  font-family: "Syncopate", sans-serif;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.home-link {
  color: var(--text-darker);
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 1;

  h2 {
    font-size: 2rem;
    font-weight: 400;

    &:hover {
      font-weight: 600;
      transition: 0.3s;
    }
  }
}

.links {
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: 0;
  line-height: 1;
}

.links a {
  color: var(--text-dark);
}


.links a:hover {
  color: var(--color-lighter);
  font-weight: 900;
    font-size: 5.5rem;
    transition: 0.2s;
}

.links a::before {
  content: "";
  width: 0%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  transition: 0.4s;
}

.links a:hover::before {
  width: 110%;
  z-index: -1;
}

.hero {
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  font-size: 8vw;
  line-height: 0.8;
  color: var(--text-dark);
  min-height: calc(100vh - 9vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    align-items: flex-start;
  position: relative;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  text-align: center;
  width: 100%;
  font-size: 1.399em;
  font-weight: 700;
  color: var(--color-primary);
}
.ethereal {
  z-index: 2;
}

.ethereal,
.andperator,
.trademark,
.canvas {
  position: relative;
  display: inline;
}

.ethereal span,
.canvas span {
  position: absolute;
  top: -23%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--color-lighter);
}

.ethereal span {
  z-index: 2;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
  gap: 10rem;
}

.contact-wrapper span {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}

.contact-wrapper img {
  width: 100%;
  display: block;
}

.contact-left {
  display: grid;
  gap: 1rem;
  position: relative;
}

.left-shutter {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lighter);
}

.contact-right {
  display: grid;
  gap: 1rem;
  position: relative;
}

.right-shutter {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lighter);
}

.about p {
  font-size: 3vw;
  line-height: 1.5;
}

.about p:last-child {
  margin-top: 3vw;
}

.work {
  padding-bottom: 0;
}

.work-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10vw;
  padding: 10vw;
  background-color: var(--bg-dark);
}

.work-item {
  position: relative;
  width: 50%;
}

.work-item-title {
  position: absolute;
  top: 10%;
  left: -50%;
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  color: var(--color-lighter);
  font-size: 8vw;
  line-height: 1.2;
  mix-blend-mode: color-dodge;
  z-index: 1;
}

.work-item-category {
  position: absolute;
  bottom: -5%;
  left: 0;
  text-transform: uppercase;
  color: var(--color-lighter);
  letter-spacing: 10px;
  z-index: 1;
}

.work-item-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.not-found {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
  column-gap: 5vw;
  row-gap: 1vw;
  padding: 5vw 0;
}

.headline-1,
.headline-2 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 8vw;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
}

.img-1,
.img-2 {
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.img-1 img,
.img-2 img {
  display: block;
  width: 100%;
}

.img-2 {
  justify-self: self-end;
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.blog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.blog-img {
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 3px;
}

.blog-img img {
  width: 100%;
  display: block;
}

.blog-texts {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  grid-column: 2/-1;
}

.blog-publisher {
  font-size: 1.5rem;
}

.blog-publisher .author,
.blog-publisher .date {
  color: var(--color-primary);
}

.blog-btn {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-lighter);
  padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 0.2rem;
}

.blog-btn:hover {
  background-color: var(--color-darker);
}

.footer {
  padding: 1vw 0;
  text-align: right;
}

.footer h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 5vw;
  line-height: 1;
  letter-spacing: -0.05em;
  color: var(--color-primary);
  z-index: -1;
}

.footer h1 span {
  font-style: italic;
  font-weight: 300;
}

.footer p {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0px;
  /* margin-left: 15vw; */
  margin-top: -1vw;
  margin-bottom: 1vw;
  color: var(--color-darker);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .wrapper {
    margin: 0 2.5vw;
  }

  section {
    padding: 5vw 0;
  }

  .section-title {
    padding-bottom: 2.5vw;
  }

  .navbar {
    padding: 1rem 0;
    flex-direction: column;
  }

  .logo {
    order: -1;
  }

    .contact-wrapper {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .blog {
    grid-template-columns: 1fr;
  }

  .blog-texts {
    grid-column: auto;
  }
}